.top {
  width: 100%;
  display: flex;
  flex-direction: row; }

body {
  background-color: #E9E0E9; }

#sidenav {
  display: flex;
  height: 400px; }

#button-image {
  width: 80%; }

.nav {
  top: -40px;
  left: 90px;
  position: relative;
  width: 25vw;
  display: flex;
  justify-content: flex-start; }

.links {
  top: 0px;
  position: absolute;
  height: 90%;
  overflow: hidden; }

.links ul {
  padding-top: 90px; }

.menu {
  height: 30px;
  position: relative;
  background-color: #E5E338;
  width: 180px;
  padding: 50px;
  top: -20px;
  left: -30px;
  transition: height ease 3s; }
  .menu:hover {
    display: block;
    height: 70%; }
  .menu::before {
    content: "";
    transform: matrix(1, 1, 0, 1, 0, 0);
    width: 10px;
    height: 100%;
    right: -12px;
    top: 4.5px;
    background-color: #a2a015;
    position: absolute;
    border: 1px solid #a2a015;
    overflow: hidden; }
  .menu::after {
    content: "";
    transform: matrix(1, 0, 1, 1, 0, 0);
    width: 100%;
    height: 10px;
    bottom: -12px;
    left: 5px;
    background-color: #75740f;
    position: absolute;
    border: 1px solid #75740f; }
  .menu a {
    color: white; }
  .menu ul {
    list-style-type: none; }
  .menu li {
    text-align: right;
    line-height: 60px;
    font-family: "Comfortaa", cursive;
    font-size: 30px; }

.button3d:hover + .menu {
  display: block;
  height: 70%; }

.button3d {
  z-index: 2;
  positon: relative;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E338;
  height: 60px;
  width: 60px;
  border: 1px solid #e2e021;
  position: relative;
  transition: top 100ms, left 100ms, bottom 100ms; }
  .button3d:hover {
    top: 5px;
    left: 5px; }
    .button3d:hover::before {
      top: 3px;
      right: -8px;
      width: 5px; }
    .button3d:hover::after {
      bottom: -8px;
      left: 2px;
      height: 5px; }
  .button3d::before {
    content: "";
    transform: matrix(1, 1, 0, 1, 0, 0);
    width: 10px;
    height: 100%;
    right: -13px;
    top: 4.5px;
    background-color: #a2a015;
    position: absolute;
    border: 1px solid #a2a015;
    transition: top 100ms, left 100ms, bottom 100ms, right 100ms, width 100ms, height 100ms; }
  .button3d::after {
    content: "";
    transform: matrix(1, 0, 1, 1, 0, 0);
    width: 100%;
    height: 10px;
    bottom: -13px;
    left: 5px;
    background-color: #75740f;
    position: absolute;
    border: 1px solid #75740f;
    transition: top 100ms, left 100ms, bottom 100ms, width 100ms, height 100ms; }

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: system-ui;
  margin-top: 50px;
  margin-left: 10vw;
  margin-right: 10vw;
  border: 5px solid #E5E338;
  height: 200px;
  width: 80vw;
  position: relative; }
  .title h1 {
    font-family: "Megrim", cursive;
    font-weight: normal;
    font-size: 120px; }

.title-background {
  z-index: -1;
  background: #4EC5C1;
  background: -webkit-linear-gradient(left top, #E5E338, #4EC5C1);
  background: -o-linear-gradient(bottom right, #E5E338, #4EC5C1);
  background: -moz-linear-gradient(bottom right, #E5E338, #4EC5C1);
  background: linear-gradient(to bottom right, #E5E338, #4EC5C1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 20px; }

.my-image img {
  margin: 20px 90px 20px 20px;
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid white; }
  .my-image img::before {
    content: "";
    transform: matrix(1, 1, 0, 1, 0, 0);
    width: 10px;
    height: 100%;
    right: -13px;
    top: 4.5px;
    background-color: #a2a015;
    position: absolute;
    border: 1px solid #a2a015; }

#about {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 100px;
  font-size: 20px;
  font-family: Comfortaa;
  line-height: 50px;
  display: flex;
  align-items: center; }
  #about h3 {
    font-size: 60px;
    margin: 0;
    font-family: "League Script", cursive; }

.about-text {
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.4);
  color: #4f4263;
  padding: 20px; }
  .about-text h3 {
    color: #675682; }

#divide {
  font-size: 100px;
  letter-spacing: 20px;
  position: relative;
  height: 150px; }

.divide-1 {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #4EC5C1; }

.divide-2 {
  position: absolute;
  color: white; }

.project {
  margin: 20px auto;
  width: 300px; }

.project img {
  width: 300px;
  height: 300px; }

#projects {
  margin: auto 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/*# sourceMappingURL=main.css.map */
