.top {
  width: 100%;
  display: flex;
  flex-direction: row; }

body {
  background-color: #E9E0E9; }

#sidenav {
  display: flex;
  height: 400px; }

.nav {
  top: 20px;
  left: 20px;
  position: relative;
  width: 25vw;
  display: flex;
  justify-content: flex-start; }
  .nav img {
    width: 80%; }

.menu {
  height: 0;
  position: relative;
  display: none;
  background-color: #E5E338;
  width: 180px;
  padding: 50px;
  top: -20px;
  left: -30px;
  transition: height ease 5s; }
  .menu:hover {
    display: block;
    height: 70%; }
  .menu::before {
    content: "";
    transform: matrix(1, 1, 0, 1, 0, 0);
    width: 10px;
    height: 100%;
    right: -12px;
    top: 4.5px;
    background-color: #a2a015;
    position: absolute;
    border: 1px solid #a2a015; }
    .menu::before:hover {
      animation: button3d 300ms; }
  .menu::after {
    content: "";
    transform: matrix(1, 0, 1, 1, 0, 0);
    width: 100%;
    height: 10px;
    bottom: -12px;
    left: 5px;
    background-color: #75740f;
    position: absolute;
    border: 1px solid #75740f; }
  .menu a {
    color: white; }
  .menu ul {
    list-style-type: none; }
  .menu li {
    text-align: right;
    line-height: 60px;
    font-family: "Comfortaa", cursive;
    font-size: 30px; }

.button3d:hover + .menu {
  display: block;
  height: 70%; }

.button3d {
  z-index: 2;
  positon: relative;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E338;
  height: 60px;
  width: 60px;
  border: 1px solid #e2e021;
  position: relative;
  transition: top 100ms, left 100ms, bottom 100ms; }
  .button3d:hover {
    top: 5px;
    left: 5px; }
    .button3d:hover::before {
      top: 3px;
      right: -8px;
      width: 5px; }
    .button3d:hover::after {
      bottom: -8px;
      left: 2px;
      height: 5px; }
  .button3d::before {
    content: "";
    transform: matrix(1, 1, 0, 1, 0, 0);
    width: 10px;
    height: 100%;
    right: -13px;
    top: 4.5px;
    background-color: #a2a015;
    position: absolute;
    border: 1px solid #a2a015;
    transition: top 100ms, left 100ms, bottom 100ms, right 100ms, width 100ms, height 100ms; }
  .button3d::after {
    content: "";
    transform: matrix(1, 0, 1, 1, 0, 0);
    width: 100%;
    height: 10px;
    bottom: -13px;
    left: 5px;
    background-color: #75740f;
    position: absolute;
    border: 1px solid #75740f;
    transition: top 100ms, left 100ms, bottom 100ms, width 100ms, height 100ms; }
  .button3d img {
    width: 70%; }

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: system-ui;
  margin-top: 50px;
  border: 5px solid #E5E338;
  height: 200px;
  width: 70vw;
  position: relative; }
  .title h1 {
    font-family: "Megrim", cursive;
    font-weight: normal;
    font-size: 120px; }

.title-background {
  z-index: -1;
  background: #4EC5C1;
  background: -webkit-linear-gradient(left top, #E5E338, #4EC5C1);
  background: -o-linear-gradient(bottom right, #E5E338, #4EC5C1);
  background: -moz-linear-gradient(bottom right, #E5E338, #4EC5C1);
  background: linear-gradient(to bottom right, #E5E338, #4EC5C1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 20px; }

#about img {
  margin: 20px 90px 20px 20px;
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid white; }
  #about img::before {
    content: "";
    transform: matrix(1, 1, 0, 1, 0, 0);
    width: 10px;
    height: 100%;
    right: -13px;
    top: 4.5px;
    background-color: #a2a015;
    position: absolute;
    border: 1px solid #a2a015; }

#about {
  font-size: 20px;
  font-family: Comfortaa;
  line-height: 50px;
  margin: auto 80px;
  display: flex;
  align-items: center; }
  #about h3 {
    font-size: 60px;
    margin: 0;
    font-family: "League Script", cursive; }

/*# sourceMappingURL=main.css.map */
