@import "variables"

.top
  width: 100%
  display: flex
  flex-direction: row

body
  background-color: $background-color


////NAVBAR/////

#mobile-menu
  text-align: center
  margin-top: 100px
  ul li
    font-family: 'comfortaa'
    font-size: 20px
    display: inline-block
    margin: 0px 10px
    border: 2px solid white
    padding: 20px
    @media screen and (max-width: 650px)
      font-size: 15px
      margin: 0 5px
      padding: 10px
    @media screen and (max-width: 450px)
      margin-top: 20px
    a
      color: $secondary-color
      text-decoration: none
  @media screen and (min-width: 1200px)
    display: none

#sidenav
  display: flex
  height: 400px
  @media screen and (max-width: 1200px)
    display: none

#button-image
  width: 80%

.nav
  top: -40px
  left: 90px
  position: relative
  width: 25vw
  display: flex
  justify-content: flex-start

.links
  top: 0px
  position: absolute
  height: 90%
  overflow: hidden

.links ul
  padding-top: 90px

.menu
  height: 30px
  position: relative
  background-color: $primary-color
  width: 180px
  padding: 50px
  top: -20px
  left: -30px
  transition: height ease 3s
  &:hover
    display: block
    height: 70%
  &::before
    content: ''
    transform: matrix(1, 1, 0, 1, 0, 0)
    width: 10px
    height: 100%
    right: -12px
    top: 4.5px
    background-color: darken($primary-color, 20%)
    position: absolute
    border: 1px solid darken($primary-color, 20%)
    overflow: hidden
  &::after
    content: ''
    transform: matrix(1, 0, 1, 1, 0, 0)
    width: 100%
    height: 10px
    bottom: -12px
    left: 5px
    background-color: darken($primary-color, 30%)
    position: absolute
    border: 1px solid darken($primary-color, 30%)
  a
    color: $main-font-color
  ul
    list-style-type: none
  li
    text-align: right
    line-height: 60px
    font-family: 'Comfortaa', cursive
    font-size: 30px


.button3d:hover + .menu
  display: block
  height: 70%

.button3d
  z-index: 2
  positon: relative
  top: 0px
  left: 0px
  display: flex
  justify-content: center
  align-items: center
  background-color: $primary-color
  height: 60px
  width: 60px
  border: 1px solid darken($primary-color, 5%)
  position: relative
  transition: top 100ms, left 100ms, bottom 100ms
  &:hover
    top: 5px
    left: 5px
    &::before
      top: 3px
      right:  -8px
      width: 5px
    &::after
      bottom: -8px
      left: 2px
      height: 5px
  &::before
    content: ''
    transform: matrix(1, 1, 0, 1, 0, 0)
    width: 10px
    height: 100%
    right: -13px
    top: 4.5px
    background-color: darken($primary-color, 20%)
    position: absolute
    border: 1px solid darken($primary-color, 20%)
    transition: top 100ms, left 100ms, bottom 100ms, right 100ms, width 100ms, height 100ms
  &::after
    content: ''
    transform: matrix(1, 0, 1, 1, 0, 0)
    width: 100%
    height: 10px
    bottom: -13px
    left: 5px
    background-color: darken($primary-color, 30%)
    position: absolute
    border: 1px solid darken($primary-color, 30%)
    transition: top 100ms, left 100ms, bottom 100ms, width 100ms, height 100ms


    //////Title//////////////////

.title
  display: flex
  justify-content: center
  align-items: center
  color: white
  text-align: center
  font-size: 50px
  font-family: system-ui
  margin-top: 50px
  margin-left: 10vw
  margin-right: 10vw
  border: 5px solid $primary-color
  height: 200px
  width: 80vw
  position: relative
  @media screen and (max-width: 1200px)
    margin-left: 5vw
    margin-right: 5vw
  h1
    font-family: 'Megrim', cursive
    font-weight: normal
    font-size: 120px
    @media screen and (max-width: 1200px)
      font-size: 80px

.title-background
  z-index: -1
  background: $secondary-color
  background: -webkit-linear-gradient(left top, $primary-color, $secondary-color)
  background: -o-linear-gradient(bottom right, $primary-color, $secondary-color)
  background: -moz-linear-gradient(bottom right, $primary-color, $secondary-color)
  background: linear-gradient(to bottom right, $primary-color, $secondary-color)
  width: 100%
  height: 100%
  position: absolute
  top: 20px
  left: 20px


///////////About ////////////////////////


.my-image img
  margin: 20px 90px 20px 20px
  width: 230px
  display: flex
  flex-wrap: wrap
  border: 3px solid white
  &::before
    content: ''
    transform: matrix(1, 1, 0, 1, 0, 0)
    width: 10px
    height: 100%
    right: -13px
    top: 4.5px
    background-color: darken($primary-color, 20%)
    position: absolute
    border: 1px solid darken($primary-color, 20%)


#about
  margin-left: 10vw
  margin-right: 10vw
  margin-top: 100px
  font-size: 20px
  font-family: Comfortaa
  line-height: 50px
  // margin: 100px 100px 100px 150px
  display: flex
  align-items: center
  h3
    font-size: 60px
    margin: 0
    font-family: 'League Script', cursive

.about-text
  width: 90vw
  background-color: rgba(255, 255, 255, 0.4)
  color: darken($tertiary-color, 10%)
  padding: 20px
  h3
    color: $tertiary-color
  @media screen and (max-width: 600px)
    font-size: 16px
    line-height: 40px


/////////////// Divider ////////////

.divide
  font-size: 100px
  letter-spacing: 20px
  position: relative
  height: 150px
  margin: 100px 0

.divide-1
  position: absolute
  top: 20px
  left: -120px
  color: $secondary-color
  // animation: slide-left 2s infinite

.divide-2
  left: -100px
  position: absolute
  color: white
  // animation: slide-right 2s infinite

//
// @keyframes slide-right
//   from
//     transform: translateX(0px)
//   to
//     transform: translateX(100px)
//
// @keyframes slide-left
//   from
//     transform: translateX(0px)
//   to
//     transform: translateX(50px)

//////////// Projects /////////////////////////

h2
  text-align: center
  display: block
  font-family: 'comfortaa'
  font-size: 80px
  color: white
  text-shadow: 4px 4px $primary-color


#projects
  margin: auto 5vw
  display: flex
  flex-wrap: wrap
  justify-content: center

.project-container
  perspective: 1000px
  margin: 30px 50px
  img
    width: 350px
    height: 350px

.project-container:hover .project, .project-container.hover .project
  transform: rotateY(180deg)

.project-container, .image-box, .info-box
  width: 350px
  height: 350px

/* flip speed goes here */
.project
  transition: 0.6s
  transform-style: preserve-3d
  position: relative

/* hide back of pane during swap */
.image-box, .info-box
  backface-visibility: hidden
  position: absolute
  top: 0
  left: 0

/* front pane, placed above back */
.image-box
  z-index: 2
  transform: rotateY(0deg)

/* back, initially hidden pane */
.info-box
  color: darken($tertiary-color, 20%)
  font-family: 'comfortaa'
  font-size: 16px
  padding: 20px
  transform: rotateY(180deg)
  background-color: rgba(255, 255, 255, 0.5x)
  a
    font-size: 30px
    display: block
    margin: 0 auto
    text-align: center
    color: $secondary-color
    text-decoration: none
    border: 2px solid white
    padding: 5px
  strong
    font-weight: 700
