@import "variables"

.top
  width: 100%
  display: flex
  flex-direction: row

body
  background-color: $background-color
  margin: 0
  overflow-x: hidden


////NAVBAR/////

#mobile-menu
  text-align: center
  margin-top: 100px
  ul li
    font-family: $main-font
    font-size: 20px
    display: inline-block
    margin: 0px 10px
    border: 2px solid white
    padding: 20px
    @media screen and (max-width: 650px)
      font-size: 15px
      margin: 0 5px
      padding: 10px
    @media screen and (max-width: 450px)
      margin-top: 20px
    a
      color: $secondary-color
      text-decoration: none
  @media screen and (min-width: 1200px)
    display: none

#sidenav
  display: flex
  height: 400px
  @media screen and (max-width: 1200px)
    display: none

#button-image
  width: 80%

.nav
  top: -40px
  left: 90px
  position: relative
  width: 25vw
  display: flex
  justify-content: flex-start

.links
  top: 0px
  position: absolute
  height: 90%
  overflow: hidden

.links ul
  padding-top: 90px

.menu
  height: 30px
  position: relative
  background-color: $primary-color
  width: 180px
  padding: 50px
  top: -20px
  left: -30px
  transition: height ease 3s
  &:hover
    display: block
    height: 70%
  &::before
    content: ''
    transform: matrix(1, 1, 0, 1, 0, 0)
    width: 10px
    height: 100%
    right: -12px
    top: 4.5px
    background-color: darken($primary-color, 20%)
    position: absolute
    border: 1px solid darken($primary-color, 20%)
    overflow: hidden
  &::after
    content: ''
    transform: matrix(1, 0, 1, 1, 0, 0)
    width: 100%
    height: 10px
    bottom: -12px
    left: 5px
    background-color: darken($primary-color, 30%)
    position: absolute
    border: 1px solid darken($primary-color, 30%)
  a
    color: black
  ul
    list-style-type: none
  li
    text-align: right
    line-height: 60px
    font-family: $main-font
    // text-transform: uppercase
    letter-spacing: 1px
    font-size: 30px


.button3d:hover + .menu
  display: block
  height: 70%

.button3d
  z-index: 2
  positon: relative
  top: 0px
  left: 0px
  display: flex
  justify-content: center
  align-items: center
  background-color: $primary-color
  height: 60px
  width: 60px
  border: 1px solid darken($primary-color, 5%)
  position: relative
  transition: top 100ms, left 100ms, bottom 100ms
  &:hover
    top: 5px
    left: 5px
    &::before
      top: 3px
      right:  -8px
      width: 5px
    &::after
      bottom: -8px
      left: 2px
      height: 5px
  &::before
    content: ''
    transform: matrix(1, 1, 0, 1, 0, 0)
    width: 10px
    height: 100%
    right: -13px
    top: 4.5px
    background-color: darken($primary-color, 20%)
    position: absolute
    border: 1px solid darken($primary-color, 20%)
    transition: top 100ms, left 100ms, bottom 100ms, right 100ms, width 100ms, height 100ms
  &::after
    content: ''
    transform: matrix(1, 0, 1, 1, 0, 0)
    width: 100%
    height: 10px
    bottom: -13px
    left: 5px
    background-color: darken($primary-color, 30%)
    position: absolute
    border: 1px solid darken($primary-color, 30%)
    transition: top 100ms, left 100ms, bottom 100ms, width 100ms, height 100ms


    //////Title//////////////////

.title
  display: flex
  justify-content: center
  align-items: center
  color: black
  text-align: center
  font-size: 50px
  margin-top: 50px
  margin-left: 7.5vw
  margin-right: 7.5vw
  margin-bottom: 50px
  border: 5px solid black
  height: 200px
  width: 85vw
  position: relative
  @media screen and (max-width: 1200px)
    margin-left: 5vw
    margin-right: 5vw
  h1
    font-family: $header-font
    font-weight: normal
    font-size: 100px
    @media screen and (max-width: 1200px)
      font-size: 80px

.title-background
  z-index: -1
  background: $secondary-color
  background: -webkit-linear-gradient(left top, $primary-color, $secondary-color)
  background: -o-linear-gradient(bottom right, $primary-color, $secondary-color)
  background: -moz-linear-gradient(bottom right, $primary-color, $secondary-color)
  background: linear-gradient(to bottom right, $primary-color, $secondary-color)
  width: 100%
  height: 100%
  position: absolute
  top: 20px
  left: 20px


///////////About ////////////////////////


.my-image img
  margin: 20px 90px 20px 20px
  width: 230px
  display: flex
  flex-wrap: wrap
  border: 3px solid white
  &::before
    content: ''
    transform: matrix(1, 1, 0, 1, 0, 0)
    width: 10px
    height: 100%
    right: -13px
    top: 4.5px
    background-color: darken($primary-color, 20%)
    position: absolute
    border: 1px solid darken($primary-color, 20%)


#about
  margin-right: 10vw
  margin-top: 100px
  font-family: $main-font
  font-size: 18px
  letter-spacing: 2px
  line-height: 30px
  display: flex
  align-items: center
  h3
    text-transform: none
    font-size: 60px
    margin: 30px 0 20px 0
    font-family: $main-font

.about-text
  margin-top: -40px
  width: 90vw
  background-color: black
  color: white
  padding: 50px 20px 40px 10vw
  h3
    color: $primary-color
  @media screen and (max-width: 600px)
    font-size: 16px
    line-height: 40px

.me
  float: left
  img
    width: 300px
    margin-right: 20px


h2
  text-align: center
  display: block
  font-family: $main-font
  font-size: 80px
  color: black
  text-shadow: 4px 4px $primary-color

#projects
  background: $secondary-color
  background: -webkit-linear-gradient(left top, $secondary-color, $primary-color)
  background: -o-linear-gradient(bottom right, $secondary-color, $primary-color)
  background: -moz-linear-gradient(bottom right, $secondary-color, $primary-color)
  background: linear-gradient(to bottom right, $secondary-color, $primary-color)
  height: 2800px
  width: 100vw
  -webkit-transform: skew(0deg, -13deg)
  margin-top: 100px

.blocks
  margin-top: 30px
  display: flex
  flex-direction: column
  align-items: flex-end
  -webkit-transform: skew(0deg, 13deg)

.block
  background-color: black
  height: 100px
  margin-bottom: 50px

#block1
  width: 230px

#block2
  width: 700px
  color: white
  font-family: $header-font
  font-size: 80px
  display: flex
  justify-content: center
  align-items: center

#block3
  width: 450px


#project-list
  margin-top: 100px
  display: flex
  flex-direction: row
  justify-content: space-around
  margin: 100px 50px

.project-column-left
  -webkit-transform: skew(0deg, 13deg)
  display: flex
  // margin: 20px 100px
  text-align: right
  flex-direction: column
  float: left
  margin-top: -120px
  img
    max-width: 500px

.project-column-right
  -webkit-transform: skew(0deg, 13deg)
  display: flex
  margin: 20px 100px
  text-align: right
  flex-direction: column
  float: right
  margin-top: 150px
  img
    max-width: 500px

.info
  margin-right: 40px

.images-boxes
  position: relative
  width: 30vw



//PROJECTS//

.project-container
  position: relative
  width: 30vw


#doctor-container
  height: 660px

#polli-container
  height: 700px

#te-container
  height: 700px

#google-container
  height: 820px

#drunklandia-container
  height: 520px

#industrial-container
  height: 520px

.thumb
  position: absolute
  top: 0px
  left: 0px
  transition: top ease 1s, left ease 1s, opacity ease 1s

.black-image-box
  width: 500px
  background-color: black
  position: absolute
  top: 50px
  left: 50px
  z-index: -1
  transition: top ease 1s, left ease 1s, z-index ease .2s
  text-align: center
  color: white
  h3
    margin: 0px auto
    background-color: white
    width: 70%
    color: black
    font-family: $main-font
    text-transform: uppercase
    letter-spacing: 4px
    padding: 20px
    font-size: 40px
  p
    font-family: $main-font
    font-size: 16px
    letter-spacing: 4px
    line-height: 30px
    padding: 0px 45px
    // margin: 5px 0

#polli-box
  width: 500px
  height: 574.03px

.project-container:hover > .black-image-box
  top: 25px
  left: 25px
  z-index: 1

.project-container:hover > .thumb
  top: 25px
  left: 25px
  opacity: 0

#doctor-box
  height: 538.73px

#te-box
  height: 585.3px

#google-box
  height: 701.16px

#drunklandia-box
  height: 498.38px

#industrial-box
  height: 355.8px

.portfolio-links
  display: flex
  justify-content: space-around
  margin: 0 40px

.portfolio-link
  font-size: 14px
  font-family: $main-font
  color: black
  margin-top: 10px
  text-align: center
  a
    padding: 8px
    margin-bottom: 20px
    background-color: white
    width: 50%
    text-decoration: none
    &:hover
      background-color: $primary-color
    &:active
      color: black
    &:visited
      color: black
